
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/adminstyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width" />
    <title>Trang Admin</title>
</head>
<body>
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-user-circle'></i>
            <span class="text">Trang Amin</span>
        </a>
    </section>
    <script src="~/js/admin.js"></script>
</body>
</html>
